@charset "UTF-8";
body {

    background: #FFF;
    color: #000;
}


a{
	color:#777;
}
a:hover{
	color:#333;
}

hr{
	
	color:#E8E8E8;
	background-color: #E8E8E8;
}

#header {
/*    background: #fafafa;	*/
}

#left_bar {
	background: url('../media/90p_white.png') transparent;
}

a.filter_off {
	color: #999999;
}

a.filter_off:hover {
		color:#333;
}

a.filter_on {
	color:#000; 	
	border-bottom: 1px dotted #999;
}

.tag_count {
	color:#999;
}

.black_highlight{
	color:#E8E8E8;
	background-color:#000000;
	padding:3px;
}

#project_navigation a {
	color:#000;
}

#project_navigation a:hover {
    color:#000;
}

#project_navigation span{
 	color:#999;
 }

.media_cell {
    background: #fafafa;
	
}

h3{
	color:#777;
}

#proj_description a:hover {
    border-bottom: 1px solid;
}