@charset "UTF-8";
body {

    color: #999;
    background: #000;
}


a{
	color:#E8E8E8;
}
a:hover{
	color:#FFF;
}

hr{

	color:#E8E8E8;
	background-color: #E8E8E8;
}

#header {
    background: #111;	
}

#left_bar {
	background: url('../media/90p_black.png') transparent;
}

a.filter_off {
	color: #999999;
}
a.filter_off:hover{
	color: #E8E8E8;
}
a.filter_on {
	color:#FFFFFF; 	
	border-bottom: 1px dotted #999;
}

.white_highlight {
	
	background-color:#FFFFFF;
	padding:3px;
}

.white_highlight a{
	color:#000000;

}

a.filter_on:hover {
	color:#E8E8E8; 	
	border-bottom: 1px dotted #999;
}

.tag_count {
	color:#666666;
}

#project_navigation a {
	color:#DDDDDD;
}

#project_navigation a:hover {
    color:#E8E8E8;
}

#project_navigation span{
 	color:#666666;
 }

.media_cell {
    background: #111;
	
}
h3{
	color:#E8E8E8;

}
	
#proj_description a:hover {
    border-bottom: 1px solid;
}