body {
	font-family:baskerville,'palatino linotype','times new roman',serif;
	font-size:100%;
	line-height:1.5em;
}

.vertical {
-webkit-transform: rotate(90deg)translatex(15px);
-moz-transform: rotate(90deg)translatex(15px);
writing-mode: vertical-rl;

}

hr{
	border: 0;
	margin:20px 20px 10px 20px;
	height: 1px;
}

#project_list_panel {
	font-family: "Lucida Grande", Geneva, Helvetica, sans-serif;
}

.panel_tab h1{
	font-size: 1.2em;
	font-weight:100;
	letter-spacing:.09em;
	padding:0;
	white-space:nowrap;
}

#tag_cloud ul {
    list-style: none outside none;
	text-align: left;
	margin:0;
	padding:0px;
	white-space:nowrap;
}

#tag_cloud li {
	display: inline;
	margin-right:3px;
}

#debug{
	font-weight:200;
	font-size:10px;
}

.panel_tab  h1 {
	font-family:baskerville,'palatino linotype','times new roman',serif;
	font-variant:small-caps;
}

#tag_cloud {
    margin: 20px 0 10px 20px;
	padding:0;  
	font-size:10px;
	letter-spacing:0.1em;
	line-height: 1.8em;
}

#tag_cloud a {
    padding-bottom:1px;
}

.tag_count {
	margin-left:-1px;
}

#project_navigation h2{
	font-size:14px;
	font-style: normal;
	font-weight:400;
	text-transform: uppercase;
	line-height:.7em;
	margin:0;
	position:absolute;
	left:120px;
	top:35px;
}

#project_navigation span{
	position:absolute;
	left:120px;

}

#project_navigation .proj_date{
	top:52px;
}
#project_navigation .proj_med{
	top:72px;
}

#project_navigation .proj_desc{
	top:92px;
}


#project_navigation p{
	position:absolute;
	left:120px;
	top:60px;
}

#project_navigation a {
	display:block;	
	white-space:nowrap;
}

#proj_description h1{
	font-size:2em;
	font-size:200%;
	font-weight:100;
	letter-spacing:0.06em;
	margin: 0 0 50px 0;

}

h2 {
    font-size: 22px;
	letter-spacing:.2em;
	margin-top:10px;
	margin-bottom:6px;
	padding:0px;
}

h3 {
   
    line-height:.5em;
    font-size: 1em;
	letter-spacing:0.06em;
	font-style:italic;
    font-weight:100;
    margin:0 0 5px 0;
	padding:0;

}

#proj_description h4 {
    font-size: 1em;
	font-weight:100;
	margin:0 0 10px 0;
	padding:0;
}

p{
	margin:0 0 10px 0;
	padding:0;
	font-weight:100;
	font-size: 1em;
	line-height:1.571em;
}

span {
	font-size: .75em;
}

.black_highlight .white_highlight {
	font-size:1em;
}
