body{	
	margin: 0;
	padding: 0;
	height:100%; 
	width:100%;
	background-color:#fff;
}

img{
	border:none;
}

a{
	text-decoration: none;
}

.left{float:left;}

.right{float: right;}

.center{margin-right:auto;margin-left:auto;}

.block{
	display:block;
}

.panel_content{
	overflow:hidden;
	height:100%;
}

.panel{
	height:100%;
	display:block;
	background:#fff;
	overflow:hidden;
}

#project_list_panel{
	width:0;
}

#panel_container{
	height:100%;
}

#project_description_panel{
	width:35px;
	-moz-box-shadow: inset 4px 0 4px 0px rgba(0,0,0,0.25), 4px 0 4px 0px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 4px 0 4px 0px rgba(0,0,0,0.25), 4px 0 4px 0px rgba(0,0,0,0.25);
	box-shadow: inset 4px 0 4px 0px rgba(0,0,0,0.25), 4px 0 4px 0px rgba(0,0,0,0.25);
}

#project_list_panel .panel_tab{
width:0;
}

#project_description_panel .panel_tab{
	width:35px;
}

#project_description_panel .panel_content{
	width:0;
}


.panel_tab{
	height:100%;
	overflow: hidden;
}

#container{
	display: block;
    position:absolute;
    height:auto;
    width:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin:0 0 15px 0;
}

#project_navigation {
    margin-top: 0px;
    overflow: hidden;
	margin-left:20px;
	z-index:100;
	height:0;
	
}

#project_navigation div.proj_item{
   height:100px;
   padding:10px 0 10px 0;   
   clear:both;
   z-index:100;
   position:relative;  
}

#project_navigation img{
	float: left;
    height: 100px;
	width: 600px;
	left:-300px;
	background-color:#232323;
    margin-right: 12px;
	vertical-align: text-top;
	z-index:150;
	position:absolute;
}

.img_container{
	width:100px;
	height:100px;
	overflow:hidden;
	position:relative;
}

.img_container img{
	z-index:2;
	position:absolute;
}


#header {
    position: fixed;
    top: 0px;
    right: 15px;
	margin:0;
	padding:0;
}

#thumbNavWrapper{
	overflow:hidden;
	width:100%;
}

.thumb{
	display:block;
	float:left;
	margin:10px;
}

#thumbNav img{
	border:none;
}
