<div class="container-fluid">
	<div class="row-fluid">
		<div class="center">
			<ul class="inline nav">
				<li><a href="https://twitter.com/robincwillis" class="trans" title="Twitter" target="_blank"><img src="img/t_social_blk.svg" class="social" alt="Twitter" /></a></li>
				<li><a href="https://facebook.com/robincwillis" class="trans" title="Facebook" target="_blank"><img src="img/fb_social_blk.svg" class="social" alt="Facebook" /></a></li>
				<li><a href="http://www.linkedin.com/in/robincwillis" class="trans" title="Linked In" target="_blank"><img src="img/li_social_blk.svg" class="social" alt="Linked In" /></a></li>
				<li><a href="https://github.com/robincwillis" class="trans" title="Github" target="_blank"><img src="img/gh_social_blk.svg" class="social" alt="Github" /></a></li>
			</ul>
		</div>

	</div>
</div>