<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
		    <div class="container-fluid">
		    	<a class="btn btn-navbar trans" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
		    	<a href="http://robincwillis.com" class="brand">RCW</a>
                <div class="nav-collapse collapse pull-right">
 	               <ul class="nav">
						<li><a href="http://robincwillis.com/blog" class="trans" title="Blog">BLOG</a></li>
						<li><a href="http://portfolio.robincwillis.com" class="trans" title="Work">WORK</a></li>
						<li><a href="http://robincwillis.com/projects" class="trans" title="Code">CODE</a></li>
 	               </ul>
 	           </div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<hr>
	</div>