<div class="row">
	<div class="span12">
		<ul class="unstyled inline" id="tag-list">
			<li>
				<a href="#" class="tag trans">Art</a>
			</li>
			<li>
				<a href="#" class="tag trans">Architecture</a>
			</li>
			<li>
				<a href="#" class="tag trans">Programming</a>
			</li>
			<li>
				<a href="#" class="tag trans">Web Design</a>
			</li>
			<li>
				<a href="#" class="tag trans">Graphic Design</a>
			</li>
		</ul>
	</div>
</div>
