
<a class="thumbnail effect" href="#">
	<div class="thumb-container">
	<img class="thumb-trans" src="https://s3.amazonaws.com/robincwillis-portfolio/{{thumb}}" alt="">
	<div class="mask thumb-trans"></div>
  	<div class="content thumb-trans">  
    	<div class="info thumb-trans">{{title}}</div>
  	</div>
  	</div>

</a>

{{!title}}{{!date}}

